In [13]:
# Crea una Serie con números aleatorios
import pandas as pd
import numpy as np

np.random.seed(42)

datos_aleatorios = pd.Series(np.random.randint(1,100,10),name = "Datos Aleatorios")

print(datos_aleatorios)

0    52
1    93
2    15
3    72
4    61
5    21
6    83
7    87
8    75
9    75
Name: Datos Aleatorios, dtype: int32

In [14]:
# Encuentra el valor máximo, mínimo y la suma de la Serie

maximo_valor = datos_aleatorios.max()
minimo_valor = datos_aleatorios.min()
suma = datos_aleatorios.sum()

print("El maximo valor es: ",maximo_valor)
print("El minimo valor es: ",minimo_valor)
print("La suma es: ",suma)

El maximo valor es:  93
El minimo valor es:  15
La suma es:  634

# Ejercicio : Manipulación de Texto

In [21]:
# Crea una Serie de nombres de personas
nombres_personas = pd.Series(['Juan Pérez', 'Ana Gómez', 'Luis García'], name='Nombres_Personas')

# Divide los nombres en nombre y apellido, y muestra el resultado
nombres_apellidos = nombres_personas.str.split(expand=True)
print("Nombres y Apellidos:")
print(nombres_apellidos)

Nombres y Apellidos:
      0       1
0  Juan   Pérez
1   Ana   Gómez
2  Luis  García

In [22]:
# Crea una Serie de edades

edades = pd.Series([25,30,22,35,28],name = "Edades")

# Filtra las edades mayores a 25 años

edades_mayores_25 = edades[edades > 25]

print(edades_mayores_25)

1    30
3    35
4    28
Name: Edades, dtype: int64

# Ejercicio : Operaciones Matemáticas

In [24]:
# Crea una Serie de números

numeros = pd.Series([1,2,3,4,5],name = "Numeros")

#Eleva cada numero al cuadrado

cuadrado_numero = numeros ** 2

print("Cuadrados de los numeros")

print(cuadrado_numero)

Cuadrados de los numeros
0     1
1     4
2     9
3    16
4    25
Name: Numeros, dtype: int64

# Ejercicio : Concatenación de Series

In [25]:
# Crea dos Series de números
serie_1 = pd.Series([10, 20, 30], name='Serie_1')
serie_2 = pd.Series([40, 50, 60], name='Serie_2')

In [26]:
# Concatena las dos Series

serie_concatenada = pd.concat([serie_1,serie_2])

print(serie_concatenada)

0    10
1    20
2    30
0    40
1    50
2    60
dtype: int64