In [2]:
import pandas as pd
import numpy as np

In [19]:
# Crea un DataFrame con algunos valores nulos 

valores_nulos = {"A": [1, 2, np.nan, 4],
                 "B": [5, np.nan, 7, 8],
                 "C": [9, 10, 11, 12]}

df = pd.DataFrame(valores_nulos)

df

     A    B   C
0  1.0  5.0   9
1  2.0  NaN  10
2  NaN  7.0  11
3  4.0  8.0  12

In [22]:
#utiliza pd.isna() para obtener una máscara booleana

mascara_nulos = pd.isna(df)

mascara_nulos

       A      B      C
0  False  False  False
1  False   True  False
2   True  False  False
3  False  False  False

In [24]:
# Utiliza pd.notna() para verificar si hay valores no nulos en una Serie y obtener una máscara booleana

serie_notna = df["A"].notna()

serie_notna

0     True
1     True
2    False
3     True
Name: A, dtype: bool

In [25]:
# Crea una Serie con valores duplicados y utiliza drop_duplicates() para eliminar las filas duplicadas

series_duplicados = pd.Series([2,3,2,1,2,4,3,5,2,4,2,1,4,5])

serie_sin_duplicados = serie_duplicados.drop_duplicates()

serie_sin_duplicados

0    1
1    2
3    3
4    4
6    5
dtype: int64

In [29]:
# Rellena los valores nulos en una columna específica de un DataFrame con un valor específico

columna_especifica = "B"

valor_especifico = 999

df[columna_especifica] = df[columna_especifica].fillna(valor_especifico)

df

     A      B   C
0  1.0    5.0   9
1  2.0  999.0  10
2  NaN    7.0  11
3  4.0    8.0  12

In [30]:
# Crea una Serie con valores nulos y utiliza hasnans para verificar si la Serie tiene valores nulos

serie_con_nulos = pd.Series([1,2,np.nan,4])

tiene_nulos = serie_con_nulos.hasnans

tiene_nulos

True

In [32]:
# Utiliza dropna() para eliminar las filas con valores nulos de un DataFrame


df_sin_nulos = df.dropna()

df_sin_nulos

     A      B   C
0  1.0    5.0   9
1  2.0  999.0  10
3  4.0    8.0  12

In [33]:
# Realiza una interpolación lineal para llenar los valores nulos en una Serie

llenar_serie = serie_con_nulos.interpolate()

llenar_serie

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [34]:
# Verifica si una Serie está en orden monotónico creciente

es_monotono_creciente = serie_con_nulos.is_monotonic_increasing

es_monotono_creciente

False

In [40]:
# Crea un DataFrame con algunas filas duplicadas 
valores_duplicados = {"A": [1, 2, 2, 4],
                      "B": [5, 6, 7, 8],
                      "C": [9, 10, 11, 12]}

df2 = pd.DataFrame(valores_duplicados)

In [42]:
# utiliza duplicated() para obtener una máscara booleana

mascara_booleana = df2.duplicated()

mascara_booleana

0    False
1    False
2    False
3    False
dtype: bool

In [44]:
# Utiliza drop(labels=etiquetas) para eliminar filas o columnas específicas de un DataFrame en función de etiquetas
etiquetas_a_eliminar = [0, 2]
df_sin_etiquetas = df2.drop(labels=etiquetas_a_eliminar)

df_sin_etiquetas

   A  B   C
1  2  6  10
3  4  8  12

In [48]:
# Crea una Serie y utiliza nonzero() para obtener un arreglo con las posiciones de los elementos no nulos
serie_no_nulos = pd.Series([1, 2, 0, 4])
posiciones_no_nulos = serie_no_nulos.to_numpy().nonzero()

posiciones_no_nulos

(array([0, 1, 3], dtype=int64),)

In [50]:
# Utiliza drop(indices) para eliminar filas específicas de un DataFrame en función de índices
indices_a_eliminar = [0, 2]
df_sin_indices = df2.drop(indices_a_eliminar)

df_sin_indices

   A  B   C
1  2  6  10
3  4  8  12