In [3]:
import pandas as pd

In [6]:
#Crea una Serie con tus colores favoritos

colores_favoritos = pd.Series(["Azul","Amarillo","Rojo","Verde","Naranja","Violeta"],name = "Colores Favoritos")

print(colores_favoritos)

0        Azul
1    Amarillo
2        Rojo
3       Verde
4     Naranja
5     Violeta
Name: Colores Favoritos, dtype: object

In [10]:
#Muestra solo los dos primeros elementos de la Serie

indice_colores = colores_favoritos[0:2]

print(indice_colores)

#Otra Forma de Hacerlo

indice_colores1 = colores_favoritos.head(2)

print() #Salto de linea
print(indice_colores1)

0        Azul
1    Amarillo
Name: Colores Favoritos, dtype: object

0        Azul
1    Amarillo
Name: Colores Favoritos, dtype: object

In [11]:
# Calcula la suma de una Serie de números del 1 al 5

numeros_series = pd.Series([1,2,3,4,5])

suma = numeros_series.sum()

print(suma)

15

In [13]:
#Crea una Serie con la longitud de algunas de tus películas favoritas

longitud_peliculas = pd.Series({"Titanic":195,"Avatar":162,"El Padrino":180})

print(longitud_peliculas)

Titanic       195
Avatar        162
El Padrino    180
dtype: int64

In [15]:
#Filtra las películas con una duración mayor a 180 minutos

filtrado_pelicula = longitud_peliculas[longitud_peliculas > 180]

print(filtrado_pelicula)

Titanic    195
dtype: int64

In [17]:
#Crea una Serie con la temperatura diaria de tu ciudad durante una semana

temperaturas_semana = pd.Series([25,24,21,22,11,55,22],name = "Temperaturas Semanal")

print(temperaturas_semana)

0    25
1    24
2    21
3    22
4    11
5    55
6    22
Name: Temperaturas Semanal, dtype: int64

In [19]:
#Calcula la temperatura media de la semana.

temperatura_media = temperaturas_semana.mean()

print(temperatura_media)

25.714285714285715

In [22]:
#Crea una Serie con precios de productos y aplica un descuento del 10%

precio_productos = pd.Series({"ProductoA":50,"ProductoB":40,"ProductoC":22})

descuento_precio = precio_productos * 0.9


print(descuento_precio)

ProductoA    45.0
ProductoB    36.0
ProductoC    19.8
dtype: float64

In [ ]:
#Combina dos Series y elimina los valores duplicados

In [24]:
serie1 = pd.Series([1, 2, 3, 4])
serie2 = pd.Series([3, 4, 5, 6])

serie_combinada_sin_duplicados = pd.concat([serie1,serie2]).drop_duplicates()

print(serie_combinada_sin_duplicados)

0    1
1    2
2    3
3    4
2    5
3    6
dtype: int64

In [26]:
#Cuenta la frecuencia de cada elemento en una Serie

frecuencia_elementos = serie_combinada_sin_duplicados.value_counts()

print(frecuencia_elementos)

1    1
2    1
3    1
4    1
5    1
6    1
dtype: int64

In [27]:
#Crea una Serie de fechas para representar un mes y muestra el día de la semana correspondiente para cada fecha.

fechas_mes = pd.date_range(start = "2023-01-01",periods = 30,freq = "D")

dias_semana = fechas_mes.day_name()

print(fechas_mes)

print()

print(dias_semana)

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30'],
              dtype='datetime64[ns]', freq='D')

Index(['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
       'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday',
       'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday', 'Tuesday',
       'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday', 'Monday'],
      dtype='object')

In [28]:
# Crea una Serie con datos de ventas mensuales y calcula el porcentaje de cambio mensual

ventas_mensuales = pd.Series([100,120,90,110,130])
cambio_mensual = ventas_mensuales.pct_change() * 100

print(cambio_mensual)

0          NaN
1    20.000000
2   -25.000000
3    22.222222
4    18.181818
dtype: float64

In [31]:
#Agrupa una Serie temporal por trimestre y calcula la suma acumulativa para cada trimestre

# Crea un índice de fechas para representar los meses (puedes ajustar según tus necesidades).
fechas = pd.date_range(start='2023-01-01', periods=len(ventas_mensuales), freq='M')

# Asigna el índice a la Serie
ventas_mensuales.index = fechas
ventas_mensuales.resample('Q').sum().cumsum()

2023-03-31    310
2023-06-30    550
Freq: Q-DEC, dtype: int64

In [32]:
#Crea una Serie con datos categóricos y aplica one-hot encoding

categorias = pd.Series(['Gato', 'Perro', 'Gato', 'Pájaro'])
one_hot_encoding = pd.get_dummies(categorias)

print(one_hot_encoding)

   Gato  Perro  Pájaro
0     1      0       0
1     0      1       0
2     1      0       0
3     0      0       1

In [35]:
#Calcula la diferencia entre cada elemento y su elemento anterior en una Serie

diferencia_elementos = temperaturas_semana.diff()

print(diferencia_elementos)

0     NaN
1    -1.0
2    -3.0
3     1.0
4   -11.0
5    44.0
6   -33.0
Name: Temperaturas Semanal, dtype: float64