# Ejercicio 1: Crear y Manipular Series

In [2]:
import pandas as pd
# Crea una Serie con nombres de frutas: Manzana, Plátano, Uva, Naranja, Mango

frutas = pd.Series(["Manzana","Platano","Uva","Naranja","Mango"],name = "Frutas")

print("Series de Frutas")
print(frutas)

Series de Frutas
0    Manzana
1    Platano
2        Uva
3    Naranja
4      Mango
Name: Frutas, dtype: object

In [3]:
# Muestra la longitud de la Serie

longitud_frutas = len(frutas)

print(longitud_frutas)

5

# Ejercicio 2: Operaciones Aritméticas y Estadísticas

In [4]:
# Crea dos Series de datos: precios y cantidades

precios = pd.Series([10,20,30,40,50],name = "Precios")
cantidades = pd.Series([2,4,6,8,10],name = "Cantidades")

In [6]:
# Calcula el total gastado (precio * cantidad) para cada elemento y muestra la nueva Serie

total_gastado = precios * cantidades

print("Total Gastado")

print(total_gastado)

Total Gastado
0     20
1     80
2    180
3    320
4    500
dtype: int64

In [10]:
# Calcula el promedio de los precios y muestra el resultado

promedio_precios = sum(precios) / len(precios)

print(promedio_precios)


#Otra forma de hacerlo
promedio_precio2 = precios.mean()

print(f"Promedio de Precios: ",promedio_precio2)

30.0
Promedio de Precios:  30.0

# Ejercicio 3: Filtrado y Selección de Datos

In [11]:
# Filtra las frutas que contienen la letra 'a'

frutas_con_a = frutas[frutas.str.contains("a",case = False)]

print("Frutas con la letra a")
print(frutas_con_a)

# Selecciona la segunda fruta de la Serie

segunda_fruta = frutas.iloc[1]

print(segunda_fruta)

Frutas con la letra a
0    Manzana
1    Platano
2        Uva
3    Naranja
4      Mango
Name: Frutas, dtype: object
Platano

In [12]:
# Crea una Serie de fechas desde '2023-01-01' hasta '2023-01-05'
fechas = pd.Series(pd.date_range('2023-01-01', periods=5, freq='D'), name='Fechas')

# Extrae el año y el mes de cada fecha
anio_mes_fechas = fechas.dt.to_period("M")
print("Año y Mes de las Fechas:")
print(anio_mes_fechas)

Año y Mes de las Fechas:
0    2023-01
1    2023-01
2    2023-01
3    2023-01
4    2023-01
Name: Fechas, dtype: period[M]