In [1]:
import pandas as pd

In [3]:
# Ejercicio 11: Crear un DataFrame con información de ventas (producto, cantidad, precio).


ventas_data = {'Producto': ['A', 'B', 'A', 'C', 'B'],
               'Cantidad': [10, 5, 8, 12, 6],
               'Precio': [15.5, 20.2, 15.5, 10.8, 18.7]}
df = pd.DataFrame(ventas_data)

In [4]:
df

  Producto  Cantidad  Precio
0        A        10    15.5
1        B         5    20.2
2        A         8    15.5
3        C        12    10.8
4        B         6    18.7

In [6]:
# Ejercicio 12: Calcular el total de ventas (cantidad * precio) y agregarlo como una nueva columna 'Total'.

df["Total"] = df["Cantidad"] * df["Precio"]

df

  Producto  Cantidad  Precio  Total
0        A        10    15.5  155.0
1        B         5    20.2  101.0
2        A         8    15.5  124.0
3        C        12    10.8  129.6
4        B         6    18.7  112.2

In [7]:
# Ejercicio 13: Filtrar las ventas de productos con cantidad mayor a 5.

filtrar = df[df["Cantidad"] > 5]

filtrar

  Producto  Cantidad  Precio  Total
0        A        10    15.5  155.0
2        A         8    15.5  124.0
3        C        12    10.8  129.6
4        B         6    18.7  112.2

In [8]:
# Ejercicio 14: Calcular el precio promedio de los productos.

precio_promedio = df["Precio"].mean()

precio_promedio

16.14

In [17]:
# Ejercicio 15: Crear un nuevo DataFrame con información de productos (producto, categoría).

productos_data = {'Producto': ['A', 'B', 'C'],
                  'Categoría': ['Electrónica', 'Ropa', 'Hogar']}
productos_df = pd.DataFrame(productos_data)

productos_df

  Producto    Categoría
0        A  Electrónica
1        B         Ropa
2        C        Hogar

In [18]:
# Ejercicio 16: Realizar una fusión (merge) entre el DataFrame de ventas y el de productos.

fusion_df = pd.merge(df, productos_df, on='Producto')

fusion_df

  Producto  Cantidad  Precio  Total    Categoría
0        A        10    15.5  155.0  Electrónica
1        A         8    15.5  124.0  Electrónica
2        B         5    20.2  101.0         Ropa
3        B         6    18.7  112.2         Ropa
4        C        12    10.8  129.6        Hogar

In [21]:
# Ejercicio 17: Calcular las ventas totales por categoría.
ventas_por_categorias = fusion_df.groupby("Categoría")["Total"].sum()

ventas_por_categorias

Categoría
Electrónica    279.0
Hogar          129.6
Ropa           213.2
Name: Total, dtype: float64

In [23]:
# Ejercicio 18: Eliminar las filas con productos de la categoría 'Ropa'.

fusion_df = fusion_df[fusion_df['Categoría'] != 'Ropa']

fusion_df

  Producto  Cantidad  Precio  Total    Categoría
0        A        10    15.5  155.0  Electrónica
1        A         8    15.5  124.0  Electrónica
4        C        12    10.8  129.6        Hogar

In [25]:
# Ejercicio 19: Agregar una nueva venta al DataFrame.

# Ejercicio 19: Agregar una nueva venta al DataFrame.
nueva_venta = pd.DataFrame({'Producto': ['D'], 'Cantidad': [15], 'Precio': [25.0], 'Total': [375.0], 'Categoría': ['Electrónica']})
fusion_df = pd.concat([fusion_df, nueva_venta], ignore_index=True)


fusion_df

  Producto  Cantidad  Precio  Total    Categoría
0        A        10    15.5  155.0  Electrónica
1        A         8    15.5  124.0  Electrónica
2        C        12    10.8  129.6        Hogar
3        D        15    25.0  375.0  Electrónica
4        D        15    25.0  375.0  Electrónica

In [26]:
# Ejercicio 20: Guardar el DataFrame fusionado en un archivo Excel llamado 'ventas_productos.xlsx'.

fusion_df.to_excel("Ventas_Producto.xlsx",index = False)

fusion_df.to_excel

<bound method NDFrame.to_excel of   Producto  Cantidad  Precio  Total    Categoría
0        A        10    15.5  155.0  Electrónica
1        A         8    15.5  124.0  Electrónica
2        C        12    10.8  129.6        Hogar
3        D        15    25.0  375.0  Electrónica
4        D        15    25.0  375.0  Electrónica>